<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>api.Auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>api.UserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>api.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>api.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>api.SearchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFriend</servlet-name>
        <servlet-class>api.AddFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriendList</servlet-name>
        <servlet-class>api.FriendList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExchange</servlet-name>
        <servlet-class>api.AddExchange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExchangeList</servlet-name>
        <servlet-class>api.ExchangeList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetExchange</servlet-name>
        <servlet-class>api.GetExchange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInvites</servlet-name>
        <servlet-class>api.GetInvites</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinExchange</servlet-name>
        <servlet-class>api.JoinExchange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveExchange</servlet-name>
        <servlet-class>api.LeaveExchange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteExchange</servlet-name>
        <servlet-class>api.DeleteExchange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddParticipant</servlet-name>
        <servlet-class>api.AddParticipant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/search-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFriend</servlet-name>
        <url-pattern>/add-friend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriendList</servlet-name>
        <url-pattern>/friend-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExchange</servlet-name>
        <url-pattern>/add-exchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExchangeList</servlet-name>
        <url-pattern>/exchange-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetExchange</servlet-name>
        <url-pattern>/get-exchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInvites</servlet-name>
        <url-pattern>/get-invites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinExchange</servlet-name>
        <url-pattern>/join-exchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveExchange</servlet-name>
        <url-pattern>/leave-exchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteExchange</servlet-name>
        <url-pattern>/delete-exchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddParticipant</servlet-name>
        <url-pattern>/add-participant</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
        </init-param>
        <init-param>
            <param-name>cors.exposed.headers</param-name>
            <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
        </init-param>
        <init-param>
            <param-name>cors.preflight.maxage</param-name>
            <param-value>10</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
